################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Overflow.ServiceDefaults/bin/Debug/net10.0
/Overflow.ServiceDefaults/obj
/.vs
/Overflow.AppHost/bin/Debug/net10.0
/Overflow.AppHost/obj
/QuestionService/obj
/QuestionService/bin/Debug/net10.0
/QuestionService.Data/bin/Debug/net10.0/BuildHost-netcore
/QuestionService.Data/bin/Debug/net10.0/BuildHost-net472
/QuestionService.Data/bin/Debug/net10.0
/QuestionService.Data/obj
/SearchService/bin/Debug/net10.0
/SearchService/obj
