################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Overflow.ServiceDefaults/bin/Debug/net10.0
/Overflow.ServiceDefaults/obj
/.vs
/Overflow.AppHost/bin/Debug/net10.0
/Overflow.AppHost/obj
/QuestionService/obj
/QuestionService/bin/Debug/net10.0
/QuestionService.Data/bin/Debug/net10.0/BuildHost-netcore
/QuestionService.Data/bin/Debug/net10.0/BuildHost-net472
/QuestionService.Data/bin/Debug/net10.0
/QuestionService.Data/obj
/SearchService/bin/Debug/net10.0
/SearchService/obj
/Contracts/obj
/Contracts/bin/Debug/net10.0
/Contracts/bin/Release/net10.0
/Overflow.ServiceDefaults/bin/Release/net10.0
/QuestionService/bin/Release/net10.0/linux-x64/BuildHost-net472
/QuestionService/bin/Release/net10.0/linux-x64
/QuestionService.Data/bin/Release/net10.0
/SearchService/bin/Release/net10.0/linux-x64
